<?xml version="1.0" encoding="utf-8"?>
<!-- filepath: nuget.config -->
<configuration>
  <packageSources>
    <add key="LocalPackages" value="C:\Users\dwain\source\repos\IntelligentLogging\.nuget-local" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>