@page
@model WebApp.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-4">
    <p class="mb-3 text-muted">
        Connect with the Dwaine to learn more about this demo and using AIEventing, links below.
    </p>
    <ul class="list-unstyled">
        <li>
            <strong>LinkedIn:</strong>
            <a href="https://www.linkedin.com/in/dwainedgilmer/" target="_blank" rel="noopener">
                https://www.linkedin.com/in/dwainedgilmer/
            </a>
        </li>
        <li>
            <strong>Email:</strong>
            <a href="mailto:dwaing@outlook.com">your.email@example.com</a>
        </li>
        <li>
            <strong>GitHub Repository:</strong>
            <a href="https://github.com/DwaineDGIlmer" target="_blank" rel="noopener">
                https://github.com/DwaineDGIlmer
            </a>
        </li>
        <li>
            <strong>Azure Web App:</strong>
            <a href="https://ezleadgenerator-dfdegca3fuc9ebbx.canadacentral-01.azurewebsites.net/" target="_blank" rel="noopener">
                https://EzLeadGenerator.centralus-01.azurewebsites.net/
            </a>
        </li>
    </ul>
</div>